@import "../../App.scss";

@font-face {
  font-family: 'Sddystopiandemo';
  src: url('../../Sddystopiandemo-GO7xa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDGlitch';
  src: url('../../SDGlitch_Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bfa7d6c-3711-4d59-aab6-07f07558689c/d9tt8og-50e83028-ecbc-42a1-8c4f-206c3b80b261.jpg/v1/fit/w_828,h_378,q_70,strp/aenigma___cyberpunk_concept_art_by_w_e_z_d9tt8og-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzMyIiwicGF0aCI6IlwvZlwvNWJmYTdkNmMtMzcxMS00ZDU5LWFhYjYtMDdmMDc1NTg2ODljXC9kOXR0OG9nLTUwZTgzMDI4LWVjYmMtNDJhMS04YzRmLTIwNmMzYjgwYjI2MS5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WQg0KyziNBLc3wi6xJ5XChLK4EBIGWfdsCqOdcILty8') no-repeat center center;
  background-size: cover;
  position: relative;
  font-family: 'Audiowide', sans-serif;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-family: 'Sddystopiandemo', sans-serif;
        font-size: 90px;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        letter-spacing: 10px;
        animation: glitch-animation 2s infinite linear alternate-reverse;
      }
      
      @keyframes glitch-animation {
        0% {
          color: #a2f507; /* Lime Green */
          text-shadow: 2px 2px 4px rgb(0, 0, 0);
          letter-spacing: 10px;
        }
        10% {
          color: #ff007a; /* Hot Pink */
          text-shadow: 2px 3px 6px #f50057; /* Magenta Shadow */
          letter-spacing: 10px;
        }
        20% {
          color: #00d2ff; /* Light Blue */
          text-shadow: 2px -5px 6px #e81a00; /* Red Shadow */
          letter-spacing: 10px;
        }
        30% {
          color: #a2f507; /* Back to Lime Green */
          text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Back to original shadow */
          letter-spacing: 10px;
        }
        100% {
          color: #a2f507; /* Back to Lime Green */
          text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Back to original shadow */
          letter-spacing: 10px;
        }
      }
      
      

      h1 {
        font-family: 'SDGlitch', sans-serif;
        font-size: 50px;
        color: #a2f507;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .buttons {
        button {
          padding: 16px 20px;
          font-size: 18px;
          background: linear-gradient(45deg, transparent 5%, #e101ff 5%);
          border: 0;
          color: #fff;
          letter-spacing: 3px;
          line-height: 1;
          box-shadow: 6px 0px 0px #00e6f6;
          outline: transparent;
          position: relative;
          cursor: pointer;
          transition: transform 0.3s ease;

          &::after {
            --slice-0: inset(50% 50% 50% 50%);
            --slice-1: inset(80% -6px 0 0);
            --slice-2: inset(50% -6px 30% 0);
            --slice-3: inset(10% -6px 85% 0);
            --slice-4: inset(40% -6px 43% 0);
            --slice-5: inset(80% -6px 5% 0);
            content: "HOVER ME";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #e101ff 5%);
            text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
            clip-path: var(--slice-0);
          }

          &:hover::after {
            animation: glitch 1s;
            animation-timing-function: steps(2, end);
          }
        }
      }
    }
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09; /* Adjust text color with transparency */
    width: 50%;
    font-weight: bold;
  }

  img {
    width: 50px;
  }
  
}
