/* Footer.scss */

.footer {
    background-color: #0f0f0f;
    color: #9f9f9f;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-text {
    font-size: 14px;
    margin: 0;
  }
  